@using System.Web.Optimization

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/Styles")
    @Scripts.Render("~/Styles")

</head>
<body>
   

    <img src="https://www.trakya.edu.tr/admin/tools/theme/www_v2/images/logo/tr/logo.png" />
    <h1>This is our SimpleBlog Project</h1>
    @Html.RouteLink("Home Page","Home") | @Html.RouteLink("Login Page","Login") | @Html.RouteLink("Product List","List")
   
    
    @RenderBody()
    @RenderSection("TopBar", false)

    <br />
    This web page is under construction
     
    @ViewBag.ABCD
    <footer>
        &copy; - @DateTime.Now.Year - Me
    </footer>
  
    @RenderSection("Scripts",false)
</body>
</html>
